
<!--/**Apartir de aqui definimos la estructura de nuestro 
   * header que contiene un div el cual tiene una clase,
   * y dentro del div tenemos una etiqueta nav tambien con su clase, dentro de esta 
   * encontramos una lista que muestra una imagen como logo y el menu de navegación de nuestra página.
  */-->
<header>
  <div className='header-container'>
    <nav class="menu">
      <ul>
        <li class="logo"><img src="assets/angularlogo.png" alt="angular"></li>
        <li>Inicio</li>
        <li>Acerca de</li>
        <li>contacto</li>
      </ul>
    </nav>
  </div>
  </header>
  
  